.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-evenly;
}

table img {
  width: 165px;
  height: 165px;
  object-fit: cover;
  border: 3px double #23272a;
}

table {
  max-width: 45%;
  table-layout: fixed;
  border: none;
  margin: 20px;
}

th+td {
  text-decoration: underline solid #23272a;
  font-weight: bold;
  text-align: center;
}

td div {
  height: 200px;
  overflow-y: scroll;
  scrollbar-color: #23272a transparent;
  scrollbar-width: thin;
  background-image: linear-gradient(transparent, #FFB72B, transparent);
}