:root {
  --white: #F7F7F7;
  --orange: #FFB72B;
  --yellow: #FFE61B;
  --green: #B5FE83;
  --black: #23272a;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(to right, transparent, var(--white), var(--white), var(--white), transparent), url("../images/other/leaves.jpg");
  background-attachment: fixed;
  background-position: center;
  width: 65%;
  margin: auto;
}

header {
  margin: 0;
}

.navbar {
  width: 100%;
  overflow: auto;
}

.nav_list {
  float: right;
  list-style: none;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

a:hover {
  background-image: radial-gradient(var(--orange), transparent, transparent);
  transition: 0.5s;
  text-transform: uppercase;
  transform: scale(1.1);
}

.companylogo {
  position: absolute;
  align-self: flex-start;
  padding: 0;
  height: 75px;
  width: 75px;
}

.nav_searchbar, .nav_home_link, .nav_tours_link, .nav_about_link, .nav_faq_link {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
}

.searchbar {
  padding-right: 10px;
  width: 70%;
}

h2, footer {
  text-align: center;
}

hr {
  border-color: var(--black);
}

ul {
  display: inline;
}

.center-list {
  text-align: center;
  list-style: none;
}

.center-image {
  margin: auto;
  display: block;
}

.center-text, h4, h3, .intro, .bird_watching_info, .terms_h, .middle_container_tours {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

#return {
  text-align: center;
  padding: 10px;
}

.amazon, .bird_part {
  position: relative;
  text-align: center;
  color: var(--white);
}

.motto, .bird_watching, .tours_text_over_image {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-shadow: 5px 5px 10px var(--black);
}

.paradise {
  font-family: 'Dancing Script', cursive;
}

.amazon_pic, .tours_feature_img {
  width: 100%;
  height: 500px;
  border: 3px double #23272a;
}

.bird_pic {
  width: 650px;
  height: 450px;
  transition: transform .2s;
}

.tours_part {
  justify-content: center;
  text-align: center;
}

.skywalk_pic_link, .riverboat_pic_link, .hiking_pic_link {
  height: 250px;
  width: 250px;
  transition: transform .2s;
}

.skywalk_pic_link:hover, .riverboat_pic_link:hover, .hiking_pic_link:hover, .bird_pic:hover {
  transform: scale(1.1);
}

.terms_f {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.terms_list {
  list-style: decimal;
  text-align: left;
  display: inline-block;
}

.feature_txt {
  text-align: center;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.circle-image {
  border-radius: 50%;
}

.border-image, #keyword {
  border: 3px double #23272a;
}

form {
  margin-top: 15px;
}

#keyword {
  width: 75%;
  float: left;
}

#search-button {
  color: var(--white);
  background-color: var(--black);
  font-weight: bold;
  font-size: 16px;
  border: none;
  float: right;
  margin-top: 2px;
}

a:link, a:visited {
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  transition: transform .2s;
}