:root {
  --white: #F7F7F7;
  --orange: #FFB72B;
  --yellow: #FFE61B;
  --green: #B5FE83;
  --black: #23272a;
}

* {
  /* background-color: var(--white); */
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 0;

}

.navbar {
  width: 100%;
  overflow: auto;
}

.nav_list {
  float: right;
  list-style: none;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.nav_list a:hover {
  background-color: var(--orange);
  transition: 0.5s;
  text-transform: uppercase;

}

.companylogo {
  position: absolute;
  align-self: flex-start;
  padding: 0;
  height: 75px;
  width: 75px;
}

.nav_searchbar {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
}

.searchbar {
  padding-right: 10px;
}

.nav_tours_link {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
}

.nav_about_link {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
}

.nav_faq_link {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
}

body {}

.top_container {}

.amazon {
  position: relative;
  text-align: center;
  color: var(--white);
}

.motto {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-shadow: 5px 5px 10px var(--black);
}

.amazon_pic {
  width: 100%;
  height: 850px;
}

.intro {
  text-align: center;
}

.middle_container {}

.bird_part {
  position: relative;
  text-align: center;
  color: var(--white);
}

.bird_watching {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-shadow: 5px 5px 10px var(--black);
}

.bird_pic {
  width: 650px;
  height: 450px;
  transition: transform .2s;
}

.bird_pic:hover {
  transform: scale(1.1);
}

.bird_watching_info {
  text-align: center;
}

.bottom_container {}

.tours_part {
  justify-content: center;
  text-align: center;
}

.tours_heading {}

.tours_text_over_image {
  position: absolute;
  /* top: 35%;
  left: 50%; */
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-shadow: 5px 5px 10px var(--black);
}

.skywalk_pic_link {
  height: 250px;
  width: 250px;
  transition: transform .2s;
}

.skywalk_pic_link:hover {
  transform: scale(1.1);
}

.riverboat_pic_link {
  height: 250px;
  width: 250px;
  transition: transform .2s;
}

.riverboat_pic_link:hover {
  transform: scale(1.1);
}

.hiking_pic_link {
  width: 250px;
  height: 250px;
  transition: transform .2s;
}

.hiking_pic_link:hover {
  transform: scale(1.1);
}

h2,
footer {
  text-align: center;
}

hr {
  border-color: var(--green);
}

ul {
  display: inline;
}

#return {
  text-align: center;
  padding: 10px;
}