<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <title>FAQ | JAC Enterprises</title>
</head>
<body>

<header>
    <nav class="navbar">
        <img src="../images/JAC.png" alt="JACEnterprisesLogo" class="companylogo">
        <ul class="nav_list">
            <li class="nav_searchbar">
            </li>
            <li>
                <div class="searchbar">
                    <form th:action="@{/}">
                        <input type="text" name="keyword" id="keyword" size="50" placeholder="Search Here"
                               th:value="${keyword}"
                               required/>
                        <input type="submit" value="Search" id="search-button"/>
                    </form>
                </div>
            </li>
            <li><a href="..//" class="nav_home_link">Home</a></li>
            <li><a href="../tours" class="nav_tours_link">Tours</a></li>
            <li><a href="../about" class="nav_about_link">About</a></li>
            <li><a href="../faq" class="nav_faq_link">Faq</a></li>
        </ul>
    </nav>
</header>

<section class="top_container">
    <div class="amazon">
        <h1 class="tours_text_over_image">
            FAQ
        </h1>
        <img src="../images/riverboat_tour_img.jpg" alt="Small boats on a river" class="tours_feature_img">
    </div>
</section>

<ul class="center-list">
    <li>
        <h4>What do I need to bring to a tour?</h4>
        <p>
            Please bring your tour confirmation ticket along with snacks and water.
            Any special equipment you might need is provided by us, but you are
            welcome to bring your own.
        </p>
    </li>
    <li>
        <h4>What forms of payment do you accept?</h4>
        <p>
            We accept all major credit cards, electronic check, and PayPal.
            If you would like to set up a payment plan, please contact us at
            555-555-5555 to connect with a customer service representative.
        </p>
    </li>
    <li>
        <h4>May I take a bird home with me?</h4>
        <p>
            No.
        </p>
    </li>
    <li>
        <h4>What are the safety measures do I need to be aware of?</h4>
        <p>Snake bite is enevitable in desnse forest like amazon rainforest, therefore, please do wear comfortable knee high boots.
        Wear long sleeve clothes to prevent from mosquito bites in the forest.</p>
    </li>
</ul>

<br>

<div id="return">
    <a href="/">Return Home</a>
</div>

<hr>

<footer>
    <p>&copy JAC Enterprises | <a href="../termsAndConditions" class="terms_conditions">Terms &
        Conditions</a> | <a href="mailto:info@jacenterprises.com" class="contact_us">Contact Us</a> | All Rights
        Reserved.</p>
</footer>

</body>
</html>