<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAC Enterprises Home</title>
</head>

<body>

  <header>
      <div><form th:action="@{/}">
          Search: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
          &nbsp;
          <input type="submit" value="Search" />
          &nbsp;
          <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
      </form></div>
    <nav class="navbar">
        <img src="../images/JAC.png" alt="JACEnterprisesLogo" class="companylogo">
        <ul class="nav_list">
            <li class="nav_searchbar">
                <section class="searchbar"></section>
            </li>
            <li><a href="" class="nav_tours_link">Tours</a></li>
            <li><a href="" class="nav_about_link">About</a></li>
            <li><a href="Faq" class="nav_faq_link">Faq</a></li>
        </ul>
    </nav>
</header>

    <section class="top_container">
        <div class="amazon">
            <h1 class="motto">Vincit Qui Se Vincit</h1>
            <!--Bright bold white lettering over picture-->
            <img class="amazon_pic" src="../images/amazon_rainforest.jpg" alt="Pic of rainforest">
        </div>
        <h2 class="jac_intro">A little about JAC Enterprises</h2>
        <p class="intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. In distinctio sunt modi recusandae
            nisi facilis nulla eum ipsa rerum sapiente voluptatem possimus quia adipisci, architecto consequuntur, dicta
            atque. Repudiandae, at.</p>
    </section>
<h1>fadfas</h1>
    <section class="middle_container">
        <div class="bird_part">
            <p class="bird_watching">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi earum error saepe,
                minus quas facere, id iure laborum harum quia dolorum. Molestias natus vero explicabo obcaecati
                distinctio adipisci tempore cupiditate.</p>
            <img src="../images/toucan.jpg" alt="" class="bird_pic">
            <p class="bird_watching_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptate
                expedita hic nesciunt fugiat nobis, vitae omnis ut, modi alias unde, et dolor quasi a ab ad sed numquam
                tempora.</p>

        </div>
    </section>

    <section class="bottom_container">
        <div class="tours_part">
            <h2 class="tours_heading">Tours We Offer</h2>
            <img src="" alt="" class="skywalk_pic_link">
            <img src="" alt="" class="riverboat_pic_link">
            <img src="" alt="" class="hiking_pic_link">
        </div>
    </section>


    <hr>

    <footer>
        <p>&copy JAC Enterprises | <a href="" class="terms_conditions">Terms & Conditions</a> | <a href="mailto:info@jacenterprises.com" class="contact_us">Contact Us</a> | All Rights Reserved.</p>
    </footer>

</body>
</html>