<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/tour.css">
    <meta charset="UTF-8">
    <title>Tour</title>
</head>
<body>

<header>
    <nav class="navbar">
        <img src="../images/JAC.png" alt="JACEnterprisesLogo" class="companylogo">
        <ul class="nav_list">
            <li class="nav_searchbar">
            </li>
            <li>
                <div class="searchbar">
                    <form th:action="@{/}">
                        <input type="text" name="keyword" id="keyword" size="50" placeholder="Search Here" th:value="${keyword}"
                               required/>
                        <input type="submit" value="Search" id="search-button"/>
                    </form>
                </div>
            </li>
            <li><a href="..//" class="nav_home_link">Home</a></li>
            <li><a href="../tours" class="nav_tours_link">Tours</a></li>
            <li><a href="../about" class="nav_about_link">About</a></li>
            <li><a href="../faq" class="nav_faq_link">Faq</a></li>
        </ul>
    </nav>
</header>

<h2 th:text="${tour.tourName}">Tour Name</h2>

<img th:src="${'../images/tours/' + tour.id + '.png'}" class="center-image border-image">

<p th:text="${tour.tourDescription}" class="center-text">Description</p>

<ul class="center-list">
    <li><h3>Birds on this tour:</h3></li>
    <li th:each="bird:${tour.tourBirds}">
        <a th:href="@{'/bird/' + ${bird.id}}" th:text="${bird.birdName}">Birds</a>
    </li>
</ul>

<h3>Country, Region, and Habitat:</h3>
<p th:text="${tour.tourCountry.countryName}" class="center-text"></p>
<p th:text="${tour.tourRegion.regionName}" class="center-text"></p>
<p th:text="${tour.tourHabitat.habitatName}" class="center-text"></p>

<h5 class="center-text">To reserve a tour, please call us at 555-555-5555</h5>

<div id="return">
    <a href="/">Return Home</a>
</div>

<hr>

<footer>
    <p>&copy JAC Enterprises | <a href="" class="terms_conditions">Terms & Conditions</a> | <a
            href="mailto:info@jacenterprises.com" class="contact_us">Contact Us</a> | All Rights Reserved.</p>
</footer>

</body>
</html>